@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@font-face {
  font-family:'proxima' ;
  src: url('fonts/Proxima Nova Font.otf');
}
@font-face {
  font-family: 'area';
  src: url("fonts/ArialCE.ttf");
}
/*Utilities section*/

*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body{
    line-height: 1.6;
    background-color: #ffffff;
    font-family: 'proxima', 'area';
    max-width: 100%;
    color: rgb(0, 0, 0);
    overflow-y: hidden;
}

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
    body {
      background-color: aqua;
    }
  }
  
  /* 980px / 16px = 61.25em */
  @media (max-width: 66.25em) {
    body {
        background-color: rgb(255, 255, 255);
    }
  }
  /*787.36px / 16px = 49.21em*/
  @media(max-width:49.21em){
      html{
        background-color: rgb(0, 255, 98);
      }
  }
/*563.36px / 16px = 35.21em*/
  @media(max-width:35.21em){
    body{
        background-color: red;
    }
}
  
  /* 448px / 16px = 28.75em */
  @media (max-width: 28em) {
    html {
        background-color: rgb(255, 255, 255);
    }
  }
  
ul{
    list-style-type: none;
    margin: 0px 0px;
    padding: 0 0;
}
li{margin: 0 0;}
a{
    text-decoration: none;
    cursor: pointer;
    color: #000000;
}
h1, h2{
    line-height: 1.2;
}
.h3{
    color: #667b8e;
}
p{
    margin: 10px 0;
    
}
img{
    margin: 0 0;
    width: 100%;
}
button{cursor: pointer;}

/*Nav Area*/

nav{
  height: 71px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e1e6ea;
}
.navs{
  display:none;
}
.nav-img {
  display: flex;
  margin:  auto 0;
}
.nav-img img{
  margin-top: 15px;
}
.nav-img h1{
  font-size: 20px;
  margin-top: 25px;
  margin-left: 40px;
}
.nav-text{
  display: flex;
  margin-top: 15px;
}
.filter{
  color: #a1abb4;
  display: flex;
  gap: 5px;
  margin: auto 30px;
}
.filter:hover{
  color: #59a7e7;
}
.filter p{
  font-size: 12px;
  font-weight: bold;
  font-family: 'proxima';
}
.filter i{
  color: #a1abb4;
  margin-top: 10px;
}
.filter i:hover{
  color: #59a7e7;
}
form{
  display: flex;
  margin: auto 0;border-radius: 8px;
  gap: 5px;padding: 2px;
  background-color: #f8fafb;
}
form i{
  margin-top: 10px;
  margin-left: 10px;
  color:#a1abb4 ;
}
form input {
  margin-left: 10px;
  width: 700px;
  height: 40px;
  border: none;outline: none;
  background-color: #f8fafb;
    border-radius: 8px;
    font-size: 14px;
    line-height: 18px;
    }
    input::placeholder{
      font-family: 'proxima';
      font-size: 14px;
    }
.date{
  display: flex;
  width: 140.41px;height: 36px;
  border-radius: 4px;gap: 10px;
  border: 1px solid rgb(225, 230, 234);
  padding: 10px;margin: auto 20px;
}
.date i{
  color: rgb(131, 140, 150);
  margin: auto 10px;
}
.date p{
  color: rgb(131, 140, 150);
  font-weight: bold;margin-top: -5px;
  font-family: 'proxima', 'area';
}

/* dropdown*/


@media (max-width: 75em) {
  nav{display: none;}

  .navs{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e1e6ea;
    transition: 0.3s ease-in-out;
      transition-delay: 0.1s;
  }
  
  #Navee{display: flex;
    justify-content: space-between;
    transition: 0.3s ease-in-out;
      transition-delay: 0.1s;
  }
  .but{
    margin-top: 20px;
    margin-right: 40px;
    font-size: 30px;
    cursor: pointer;
  }
  .shift{
    display: none;
    flex-direction: column;
    height: 200px;
    background-color: #f2f5f7;
    transition: 0.3s ease-in-out;
      transition-delay: 0.1s;
  }
  .show{
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
      transition-delay: 0.1s;
  }
  .dropd{
    margin: 0 30px;transition: 0.3s ease-in-out;
    transition-delay: 0.1s;
    display: flex;flex-direction: column;
    gap: 20px;
  }
  .fi{display: flex;gap: 5px;margin-top: 10px;}
  .fi i{
    margin-top: 5px;font-size: 20px;
  }
  .fi p{
    font-size: 14px;
  font-family: 'proxima';
  }
  .form-con{
    display: flex;
    margin: auto 0;border-radius: 8px;
    gap: 5px;padding: 2px;width: 50%;
    background-color: #f8fafb;
  }
  .form-con input{
    margin-left: 10px;
    width: 700px;
    height: 40px;
    border: none;outline: none;
    background-color: #f8fafb;
      border-radius: 8px;
      font-size: 14px;
      line-height: 18px;
  }
  .form-con i{
    margin-top: 10px;
    margin-left: 10px;
    color:#a1abb4 ;
  }
  .date1{
    display: flex;
    width: 140.41px;height: 36px;
    border-radius: 4px;gap: 10px;
    border: 1px solid rgb(225, 230, 234);
    padding: 10px;margin: auto 0px;
  }
  .date1 i{
    color: rgb(131, 140, 150);
    margin: auto 10px;
  }
  .date1 p{
    color: rgb(131, 140, 150);
    font-weight: bold;margin-top: -5px;
    font-family: 'proxima', 'area';
  }
}




/*main Area*/
main{
  display: flex;
  justify-content: ;
}

.sidebar{padding: 10px;
  width: 81px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #e1e6ea;
  justify-content: space-between;
  height: 570px;max-width: 100%;
}
.topsidebar{
  display: flex;flex-direction: column;
  
}
.topsidebar ul{
  margin-top: 20px;
}
.topsidebar li{
  margin-bottom: 40px;
  margin-left: 10px;
  font-size: 20px;
  color:#a1abb4 ;
}
.downsidebar{
display: flex;
flex-direction: column;
margin: 0 auto;
}
.downsidebar i{
  margin-left: 10px;
  margin-bottom: 30px;
  color:#a1abb4 ;
  font-size: 20px;
}
.downsidebar img{
  width: 40px;margin-bottom: 30px;
  height: 40px;border-radius: 50%;
}




/*Middle Bar area*/
.middlebar{
  display: flex;justify-content: space-between;
  background-color: #f2f5f7;
  width: 60%;
}

/*Left Bar area*/
.leftbar{
  width: 40%;
display: flex;
flex-direction: column;
margin:20px 5px;row-gap: 10px;
}
.assign{padding: 0 15px;
  display: flex;
  justify-content: space-between;
  width: 90%;transition: .2s ease-out;
  border-radius: 4px;height: 36px;
}
.assign:hover{
  background-color: white;
}
.ass{
  display: flex;
  gap: 5px;
}
.ass p{
  font-size: 14px;
  font-family: 'proxima', 'area';
}
.ass i{
  color:#a1abb4 ;
  margin-top:10px;
  margin-left: 5px;
  font-size: 15px;
}
.tags{transition: .2s ease-out;
  padding: 0 15px;
  display: flex;margin-top: 20px;
  width: 230px;font-weight: bold;
  border-radius: 4px;height: 36px;
  display: flex;color:#a1abb4 ;
}
.tags:hover{
  background-color: #ffff;
}
.tags p{
  font-size: 12px;
  font-family: 'proxima', 'area';
}
.tags i{
  margin-left: 3px;
  margin-top: 10px;
}
.circle{
  width: 60px;border-radius: 50%;
  height: 60px;margin-top: 170px;
  background-color: #2693ff;
  transition: .2s ease-out;
}
.circle i{
  color: #fff;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}



/*Right Bar area*/
.rightbar{
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  margin-left: 0;width: 58%;
  height: 600px;
}
.rightbar p{
  margin-top: 20px;
  font-size: 12px;
  font-family: 'proxima';
  font-weight: 700;
  color:#929597;
}
.taskbar{
  display: flex;width: 95%;
  flex-direction: column;
  border: 1px solid #59a7e7;
    border-radius: 6px;
    box-sizing: border-box;
    cursor: pointer;
    height: 86px;
    margin-bottom: 4px;
    padding: 10px;margin-left: 0px;
    transition: .2s ease-out;
}
.taskbar:hover{
  background-color: white;
}
.topbar{
  display: flex;
  justify-content: space-between;
}
.top-left{
  display: flex;
  gap: 10px;
}
.top-left p{
  margin: auto 0;
  color: #202428; 
}
.top-left img{
  width: 26px;
  height: 26px;border-radius: 4px;
}
.top-left i{
  margin:auto 0;
  color: #a1abb4;
}
.top-right{
  color: red;
  font-size: 10px;
  margin: auto 0;
}
.bottombar{
  display: flex;
  gap: 8px;
}
.bottombar p{
  font-size: 12px;
  color: #202428;
  margin-top: 12px;
}
.bottomi{
  margin-top:15px;
  display: flex;
  font-size: 10px;
}
.bottomi {
  color:#2693ff;
}




/*75em media querry*/
@media(max-width:35.21em){
body{overflow: scroll;}

/*Middle Bar area*/
.middlebar{
  display: flex;flex-direction: column;
  background-color: #f2f5f7;
  width: 35.21em;
}

/*Left Bar area*/
.leftbar{
  width:487px;
display: flex;
flex-direction: column;
margin:20px 5px;row-gap: 10px;
}
.assign{padding: 0 15px;
  display: flex;margin: 0 auto;
  justify-content: space-between;
  width: 350px;transition: .2s ease-out;
  border-radius: 4px;height: 36px;
}
.assign:hover{
  background-color: white;
}
.ass{
  display: flex;
  gap: 5px;
}
.ass p{
  font-size: 18px;
  font-family: 'proxima', 'area';
}
.ass i{
  color:#a1abb4 ;
  margin-top:10px;
  margin-left: 5px;
  font-size: 20px;
}
.tags{transition: .2s ease-out;
  padding: 0 15px;margin: 0 auto;
  display: flex;margin-top: 20px;
  width: 350px;font-weight: bold;
  border-radius: 4px;height: 36px;
  display: flex;color:#a1abb4 ;
}
.tags:hover{
  background-color: #ffff;
}
.tags p{
  font-size: 12px;
  font-family: 'proxima', 'area';
}
.tags i{
  margin-left: 3px;
  margin-top: 10px;
}
.circle{
  width: 60px;border-radius: 50%;
  height: 60px;margin-top: 170px;
  background-color: #2693ff;
  transition: .2s ease-out;
  margin-left: 80px;
}
.circle i{
  color: #fff;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}



/*Right Bar area*/
.rightbar{
  overflow-y: scroll;
  display: flex;background-color:#f2f5f7;;
  flex-direction: column;
  margin-left: -60px;width: 540px;
  height: 600px;margin-top: 30px;
}
.rightbar p{
  margin-top: 20px;
  margin-left: 100px;
  font-size: 12px;
  font-family: 'proxima';
  font-weight: 700;
  color:#929597;
}
.taskbar{
  display: flex;width: 370px;
  flex-direction: column;
  border: 1px solid #59a7e7;
    border-radius: 6px;
    box-sizing: border-box;
    cursor: pointer;
    height: 86px;
    margin-bottom: 4px;
    padding: 10px;margin-left: 100px;
    transition: .2s ease-out;
}
.taskbar:hover{
  background-color: white;
}
.topbar{
  display: flex;
  justify-content: space-between;
}
.top-left{
  display: flex;
  gap: 10px;
}
.top-left p{
  margin: auto 0;
  color: #202428; 
}
.top-left img{
  width: 26px;
  height: 26px;border-radius: 4px;
}
.top-left i{
  margin:auto 0;
  color: #a1abb4;
}
.top-right{
  color: red;
  font-size: 10px;
  margin: auto 0;
}
.bottombar{
  display: flex;
  gap: 8px;
}
.bottombar p{
  font-size: 12px;
  color: #202428;
  margin-top: 12px;
}
.bottomi{
  margin-top:15px;
  display: flex;
  font-size: 10px;
}
.bottomi {
  color:#2693ff;
}

}

@media (max-width: 28em){
  .middlebar{
    display: flex;flex-direction: column;
    background-color: #f2f5f7;
    width: 370px;
  }
  
  /*Left Bar area*/
  .leftbar{
    width: 370px;
  display: flex;
  flex-direction: column;
  margin:0px 0px;row-gap: 10px;
  }
  .assign{padding: 0 15px;
    display: flex;margin-top: 10px;
    justify-content: space-between;
    width: 300px;transition: .2s ease-out;
    border-radius: 4px;height: 36px;
  }
  
  .ass p{
    font-size: 16px;
    font-family: 'proxima', 'area';
  }
  .ass i{
    color:#a1abb4 ;
    margin-top:10px;
    margin-left: 5px;
    font-size: 16px;
  }
  .tags{transition: .2s ease-out;
    padding: 0 15px;margin-left: 20px;
    display: flex;margin-top: 20px;
    width: 230px;font-weight: bold;
    border-radius: 4px;height: 36px;
    display: flex;color:#a1abb4 ;
  }
  
  .tags p{
    font-size: 12px;
    font-family: 'proxima', 'area';
  }
  .tags i{
    margin-left: 3px;
    margin-top: 10px;
  }
  .circle{margin-top: 150px;margin-left: 20px;
    background-color: #2693ff;
    transition: .2s ease-out;
  }
  .circle i{
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  /*Right Bar area*/
  .rightbar{
    overflow-y: scroll;
    display: flex;background-color:#f2f5f7;;
    flex-direction: column;
    margin-left: -60px;width: 400px;
    height: 600px;margin-top: 30px;
  }
  .rightbar p{
    font-size: 14px;
    margin-left: 20px;
    }
  .taskbar{
    display: flex;width: 370px;
    flex-direction: column;
    border: 1px solid #59a7e7;
      border-radius: 6px;
      box-sizing: border-box;
      cursor: pointer;
      height: 86px;
      margin-bottom: 4px;
      padding: 10px;margin-left: 20px;
      transition: .2s ease-out;
  }
  .taskbar:hover{
    background-color: white;
  }
  .topbar{
    display: flex;
    justify-content: space-between;
  }
  .top-left{
    display: flex;
    gap: 10px;
  }
  .top-left p{
    margin: auto 0;
    color: #202428; 
  }
  .top-left img{
    width: 26px;
    height: 26px;border-radius: 4px;
  }
  .top-left i{
    margin:auto 0;
    color: #a1abb4;
  }
  .top-right{
    color: red;
    font-size: 10px;
    margin: auto 0;
  }
  .bottombar{
    display: flex;
    gap: 8px;
  }
  .bottombar p{
    font-size: 12px;
    color: #202428;
    margin-top: 12px;
  }
  .bottomi{
    margin-top:15px;
    display: flex;
    font-size: 10px;
  }
  .bottomi {
    color:#2693ff;
  }
  
}



/*Right bar*/
.ritebar{
  width: 50%;
  margin-left: 0px;
}

.cust-div{
  display: flex;height: 70px;
  justify-content: space-between;
  width: 80%;margin-top: 15px;
  margin-left: 50px;
}
.left-cust{
  display: flex;
  gap: 20px;
}
.left-cust i{
margin-top: 15px;
color: #bcc4cc;
}
.left-cust p{
  width: 400px;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 400;
    height: 32px;background-color: #ffffff;
}
.left-cust p:hover{
  border: 1px solid rgb(73, 70, 70);
}
.right-cust{
  display: flex;
  margin-right: 100px;
}
.updown{
  display: flex;color: #bcc4cc;
  flex-direction: column;
}
.down{
  margin-top: 5px;
  position: relative;
  top: 10px;
}
.lin{
  margin-top: 17px;
  margin-left: 5px;
  color: #bcc4cc;
}
.scroll{
  overflow-y: scroll;
  height: 442px;
}

.user-div{
  display: flex;
  margin-left: 50px;
}
.us{
  color: #bcc4cc;margin-top: 5px;
  margin-right: 20px;
}
.user-div img{
  width: 30px;margin-right: 20px;
  height: 30px;border-radius: 4px;
}
.user-div p{
  font-family: 'proxima';
  font-size: 14px;
  color: #202428;
  margin:  auto 0;
}
.ci{color: #bcc4cc;
  display: flex;gap: 5px;
  margin-left: 20px;
}
.ci p{
  font-family: 'proxima';
  font-size: 14px;
  color: #bcc4cc;
  margin:  auto 0;
}
.ci:hover{
  color: #2693ff;
}
.cir{
  color: #bcc4cc;margin-top: 5px;
}

.tag{
  display: flex;gap: 20px;
  margin-left: 50px;color: #bcc4cc;
  margin-top: 25px;
}
.plus{
  width: 66.66px;height: 26px;
  display: flex;padding: 10px;
  border: 1px solid #a1abb4;
  background-color: #f2f5f7;
  border-radius: 3px;
}
.plus i{
  font-size: 10px;
  color: #bcc4cc;
  margin-top: -3px;
}
.plus p{
  font-size: 12px;margin-top: -5px;
  font-family: 'proxima';color: #bcc4cc;
  font-weight: bold;margin-left: 7px;
}
.line{
  width:80%;height: 1px;
  background-color:#bcc4cc;
  margin: 30px auto;
}
.pp{
  font-family: 'proxima';
  font-size: 14px; width: 461px;
  background-color: #e2effd;
  margin: 0 auto;
}
.pp:hover{
  background-color: #73b6f8;
}
.attachment{
  display: flex;
  margin-top: 90px;
  margin-left: 50px;
  color: #a1abb4;gap: 15px;
}
.attachment:hover{
  color: #2693ff;
}
.attachment i{
  margin-top: 10px;
  font-size: 20px;
}
.attachment p{
  font-family: 'proxima';
  font-size: 12px;
  font-weight: 700;
}
.com{display: flex;
  width: 232px;margin: 0 auto;
  background-color: #e8edf1;  justify-content: space-between;
  height: 36px;border-radius: 50px;
}
.chat{padding: 5px;
  gap: 10px;
  width: 115px;border-radius: 50px;
  height: 28px;margin: auto 0;
  background-color: #ffffff;margin-left: 4px;
  display: flex;color: rgb(38, 147, 255);
}

.chat i{
margin:auto 0
}
.chat p{
  font-size: 14px;font-weight: bold;
  font-family: 'proxima';margin:auto 0
}
.fasi{
  display: flex;margin-right: 20px;
  gap: 10px;color: #a1abb4;
}
.fasi i{
  margin: auto 0;
}
.fasi p{
  margin: auto 0;
  font-size: 14px;
  font-weight: bold;
  font-family: 'proxima';
}
.write{
  display: flex;gap:10px;
  margin-left: 50px;margin-top: 40px;
  margin-bottom: 200px;
}
.write i{
  font-size: 16px;
margin: auto 0;
color: rgb(188, 196, 204);
}
.write input{
  border: 1px solid #e1e6ea;
    border-radius: 3px;
    box-sizing: border-box;
width: 459px;outline: none;
height: 42px;
}

/*foot*/
.foot{
  background: #f2f5f7;
    border-top: 1px solid #e1e6ea;
    height: 72px;padding-left: 50px;
    line-height: 24px;
    position: relative;
    z-index: 2;display: flex;
}
.left-foot{
  display: flex;margin-right: 50px
}
.left-foot img{
  width: 30px;
  height: 30px;margin: auto 0;
  border-radius: 50%;
}
.left-foot p{
  font-size: 12px;
  font-weight: bold;
  font-family: 'proxima';
  margin: auto 10px;
}
.follow{
  width: 100px;padding-left: 15px;
  height: 26px;margin: auto 30px;
  transition: 200ms ease 0s, color 200ms ease 0s, opacity 200ms ease 0s, box-shadow 200ms ease 0s, border 200ms ease 0s;
  border-radius: 4px;
    border: 1px solid rgb(225, 230, 234);
    color: rgb(131, 140, 150);
    background-color: rgba(0, 0, 0, 0);
}
.left-foot i{
  margin: auto 0;
  font-size: 12px;
  color: rgb(131, 140, 150);
}
.left-foot p{
  color: rgb(131, 140, 150);
}
.unprocessed{
  width: 150px;display: flex;
  height: 26px;justify-content: space-between;
  border: 1px solid #d4dbe1;
    border-radius: 4px;
    box-sizing: border-box;
    color: #838c96;
    transition: .15s,color .15s;
    margin: auto 0;
}
.unprocessed p{
  font-size: 12px;
  margin: auto;font-weight: bold;
}
.unprocessed i{
  color: red;
  font-size: 18px;
  margin:auto 20px;
}


@media (max-width: 28em){
  
/*Right bar*/
.ritebar{
  width: 100%;height:730px;
  position: relative;top: 1200px;
  left: -470px;
}

.cust-div{
  display: flex;height: 70px;
  justify-content: space-between;
  width: 200px;margin-top: 15px;
  margin-left: 50px;
}
.left-cust{
  display: flex;
  gap: 20px;
}
.left-cust i{
margin-top: 15px;
color: #bcc4cc;
}
.left-cust p{
  width: 300px;
    border-radius: 3px;
    font-size: 20px;
    font-weight: 400;
    height: 32px;background-color: #ffffff;
}
.left-cust p:hover{
  border: 1px solid rgb(73, 70, 70);
}
.right-cust{
  display: flex;
  margin-right: 0px;
}
.updown{
  display: flex;color: #bcc4cc;
  flex-direction: column;
}
.down{
  margin-top: 5px;
  position: relative;
  top: 10px;
}
.lin{
  margin: 17px;color: #bcc4cc;
}
.scroll{
  overflow-y: scroll;
  height: 442px;
}

.user-div{
  display: flex;
  margin-left: 50px;
}
.us{
  color: #bcc4cc;margin-top: 5px;
  margin-right: 20px;
}
.user-div img{
  width: 30px;margin-right: 20px;
  height: 30px;border-radius: 4px;
}
.user-div p{
  font-family: 'proxima';
  font-size: 14px;
  color: #202428;
  margin:  auto 0;
}
.ci{color: #bcc4cc;
  display: flex;gap: 5px;
  margin-left: 20px;
}
.ci p{
  font-family: 'proxima';
  font-size: 14px;
  color: #bcc4cc;
  margin:  auto 0;
}
.ci:hover{
  color: #2693ff;
}
.cir{
  color: #bcc4cc;margin-top: 5px;
}

.tag{
  display: flex;gap: 20px;
  margin-left: 50px;color: #bcc4cc;
  margin-top: 25px;
}
.plus{
  width: 66.66px;height: 26px;
  display: flex;padding: 10px;
  border: 1px solid #a1abb4;
  background-color: #f2f5f7;
  border-radius: 3px;
}
.plus i{
  font-size: 10px;
  color: #bcc4cc;
  margin-top: -3px;
}
.plus p{
  font-size: 12px;margin-top: -5px;
  font-family: 'proxima';color: #bcc4cc;
  font-weight: bold;margin-left: 7px;
}
.line{
  width:380px;height: 1px;
  background-color:#bcc4cc;
  margin: 30px 50px;
}
.pp{
  font-family: 'proxima';
  font-size: 14px; width: 371px;
  background-color: #e2effd;
  margin: 50px;
}
.pp:hover{
  background-color: #73b6f8;
}
.attachment{
  display: flex;
  margin-top: 90px;
  margin-left: 50px;
  color: #a1abb4;gap: 15px;
}
.attachment:hover{
  color: #2693ff;
}
.attachment i{
  margin-top: 10px;
  font-size: 20px;
}
.attachment p{
  font-family: 'proxima';
  font-size: 12px;
  font-weight: 700;
}
.com{display: flex;
  width: 232px;margin: 0 auto;
  background-color: #e8edf1;  justify-content: space-between;
  height: 36px;border-radius: 50px;
}
.chat{padding: 5px;
  gap: 10px;
  width: 115px;border-radius: 50px;
  height: 28px;margin: auto 0;
  background-color: #ffffff;margin-left: 4px;
  display: flex;color: rgb(38, 147, 255);
}

.chat i{
margin:auto 0
}
.chat p{
  font-size: 14px;font-weight: bold;
  font-family: 'proxima';margin:auto 0
}
.fasi{
  display: flex;margin-right: 20px;
  gap: 10px;color: #a1abb4;
}
.fasi i{
  margin: auto 0;
}
.fasi p{
  margin: auto 0;
  font-size: 14px;
  font-weight: bold;
  font-family: 'proxima';
}
.write{
  display: flex;gap:10px;
  margin-left: 50px;margin-top: 40px;
  margin-bottom: 200px;
}
.write i{
  font-size: 16px;
margin: auto 0;
color: rgb(188, 196, 204);
}
.write input{
  border: 1px solid #e1e6ea;
    border-radius: 3px;
    box-sizing: border-box;
width: 459px;outline: none;
height: 42px;
}

/*foot*/
.foot{display: none;
  background: #f2f5f7;width: 470px;
    border-top: 1px solid #e1e6ea;
    height: 72px;padding-left: 50px;
    line-height: 24px;
    position: relative;margin-bottom: 0px;
    z-index: 2;display: flex;
}
.left-foot{
  display: flex;margin-right: 50px
}
.left-foot img{
  width: 30px;
  height: 30px;margin: auto 0;
  border-radius: 50%;
}
.left-foot p{
  font-size: 12px;
  font-weight: bold;
  font-family: 'proxima';
  margin: auto 10px;
}
.follow{
  width: 80px;padding-left: 5px;
  height: 26px;margin: auto 5px;
  transition: 200ms ease 0s, color 200ms ease 0s, opacity 200ms ease 0s, box-shadow 200ms ease 0s, border 200ms ease 0s;
  border-radius: 4px;
    border: 1px solid rgb(225, 230, 234);
    color: rgb(131, 140, 150);
    background-color: rgba(0, 0, 0, 0);
}
.left-foot i{
  margin: auto 0;
  font-size: 12px;
  color: rgb(131, 140, 150);
}
.left-foot p{
  color: rgb(131, 140, 150);
}
.unprocessed{

  width: 100px;display: flex;
  height: 26px;
  border: 1px solid #d4dbe1;
    border-radius: 4px;
    box-sizing: border-box;
    color: #838c96;
    font-size: 12px;
    font-weight: 700;
    transition: .15s,color .15s;
    margin: auto 0px;
}
.unprocessed p{
  font-size: 12px;
  margin: auto;
}
body{
  background-color: #ffffff;
  font-family: 'proxima', 'area';
  max-width: 100%;
  color: rgb(0, 0, 0);
  overflow-y: hidden;
  
  overflow: scroll;
-webkit-overflow-scrolling: touch;
}
}


@media (max-width: 66.25em) {
  .ritebar{
    width: 50%;
    margin-left: 0px;
  }
  
  .cust-div{
    display: flex;height: 70px;
    justify-content: space-between;
    width: 80%;margin-top: 15px;
    margin-left: 20px;
  }
  .left-cust{
    display: flex;
    gap: 20px;
  }
  .left-cust i{
  margin-top: 15px;
  color: #bcc4cc;
  }
  .left-cust p{
    width: 400px;
      border-radius: 3px;
      font-size: 20px;
      font-weight: 400;
      height: 32px;background-color: #ffffff;
  }
  .left-cust p:hover{
    border: 1px solid rgb(73, 70, 70);
  }
  .right-cust{
    display: flex;
    margin-right: 100px;
  }
  .updown{
    display: flex;color: #bcc4cc;
    flex-direction: column;
  }
  .down{
    margin-top: 5px;
    position: relative;
    top: 10px;
  }
  .lin{
    margin-top: 17px;
    margin-left: 5px;
    color: #bcc4cc;
  }
  .scroll{
    overflow-y: scroll;
    height: 442px;
  }
  
  .user-div{
    display: flex;
    margin-left: 20px;
  }
  .ci{color: #bcc4cc;
    display: flex;gap: 5px;
    margin-left: 20px;
  }
  .tag{
    display: flex;gap: 20px;
    margin-left: 20px;color: #bcc4cc;
    margin-top: 25px;
  }
  
  .line{
    width:90%;height: 1px;
    background-color:#bcc4cc;
    margin: 30px auto;
  }
  .pp{
    font-family: 'proxima';
    font-size: 14px; width: 90%;
    background-color: #e2effd;
    margin: 20px;
  }
  .attachment{
    display: flex;
    margin-top: 90px;
    margin-left: 20px;
    color: #a1abb4;gap: 15px;
  }
  .write{
    display: flex;gap:10px;
    margin-left: 20px;margin-top: 40px;
    margin-bottom: 200px;
  }
  .write input{
    border: 1px solid #e1e6ea;
      border-radius: 3px;
      box-sizing: border-box;
  width: 380px;outline: none;
  height: 42px;
  }
  
  /*foot*/
  .foot{display: none;
    background: #f2f5f7;width: 100%;
      border-top: 1px solid #e1e6ea;
      height: 72px;padding-left: 50px;
      line-height: 24px;
      position: relative;margin-bottom: 0px;
      z-index: 2;display: flex;
  }
  .left-foot{
    display: flex;margin-right: 50px
  }
  .left-foot img{
    width: 30px;
    height: 30px;margin: auto 0;
    border-radius: 50%;
  }
  .left-foot p{
    font-size: 12px;
    font-weight: bold;
    font-family: 'proxima';
    margin: auto 10px;
  }
  .follow{
    width: 80px;padding-left: 5px;
    height: 26px;margin: auto 5px;
    transition: 200ms ease 0s, color 200ms ease 0s, opacity 200ms ease 0s, box-shadow 200ms ease 0s, border 200ms ease 0s;
    border-radius: 4px;
      border: 1px solid rgb(225, 230, 234);
      color: rgb(131, 140, 150);
      background-color: rgba(0, 0, 0, 0);
  }
  .left-foot i{
    margin: auto 0;
    font-size: 12px;
    color: rgb(131, 140, 150);
  }
  .left-foot p{
    color: rgb(131, 140, 150);
  }
  .unprocessed{
  
    width: 150px;display: flex;
    height: 26px;
    border: 1px solid #d4dbe1;
      border-radius: 4px;
      box-sizing: border-box;
      color: #838c96;
      font-size: 12px;
      font-weight: 700;
      transition: .15s,color .15s;
      margin: auto 40px;
  }
  .unprocessed p{
    font-size: 12px;
    margin: auto;
  }
}



@media (max-width: 35.2em){
  
  /*Right bar*/
  .ritebar{
    width: 545px;height:730px;
    position: relative;top: 1195px;
    left: -565px;background-color: #ffffff;
  }
  
  .cust-div{
    display: flex;height: 70px;
    justify-content: space-between;
    width: 200px;margin-top: 15px;
    margin-left: 50px;
  }
  .left-cust{
    display: flex;
    gap: 20px;
  }
  .left-cust i{
  margin-top: 15px;
  color: #bcc4cc;
  }
  .left-cust p{
    width: 300px;
      border-radius: 3px;
      font-size: 20px;
      font-weight: 400;
      height: 32px;background-color: #ffffff;
  }
  .left-cust p:hover{
    border: 1px solid rgb(73, 70, 70);
  }
  .right-cust{
    display: flex;
    margin-right: 0px;
  }
  .updown{
    display: flex;color: #bcc4cc;
    flex-direction: column;
  }
  .down{
    margin-top: 5px;
    position: relative;
    top: 10px;
  }
  .lin{
    margin: 17px;color: #bcc4cc;
  }
  .scroll{
    overflow-y: scroll;overflow-x: hidden;
    height: 442px;
  }
  
  .user-div{
    display: flex;
    margin-left: 50px;
  }
  .us{
    color: #bcc4cc;margin-top: 5px;
    margin-right: 20px;
  }
  .user-div img{
    width: 30px;margin-right: 20px;
    height: 30px;border-radius: 4px;
  }
  .user-div p{
    font-family: 'proxima';
    font-size: 14px;
    color: #202428;
    margin:  auto 0;
  }
  .ci{color: #bcc4cc;
    display: flex;gap: 5px;
    margin-left: 20px;
  }
  .ci p{
    font-family: 'proxima';
    font-size: 14px;
    color: #bcc4cc;
    margin:  auto 0;
  }
  .ci:hover{
    color: #2693ff;
  }
  .cir{
    color: #bcc4cc;margin-top: 5px;
  }
  
  .tag{
    display: flex;gap: 20px;
    margin-left: 50px;color: #bcc4cc;
    margin-top: 25px;
  }
  .plus{
    width: 66.66px;height: 26px;
    display: flex;padding: 10px;
    border: 1px solid #a1abb4;
    background-color: #f2f5f7;
    border-radius: 3px;
  }
  .plus i{
    font-size: 10px;
    color: #bcc4cc;
    margin-top: -3px;
  }
  .plus p{
    font-size: 12px;margin-top: -5px;
    font-family: 'proxima';color: #bcc4cc;
    font-weight: bold;margin-left: 7px;
  }
  .line{
    width:380px;height: 1px;
    background-color:#bcc4cc;
    margin: 30px 50px;
  }
  .pp{
    font-family: 'proxima';
    font-size: 14px; width: 451px;
    background-color: #e2effd;
    margin: 50px;
  }
  .pp:hover{
    background-color: #73b6f8;
  }
  .attachment{
    display: flex;
    margin-top: 90px;
    margin-left: 50px;
    color: #a1abb4;gap: 15px;
  }
  .attachment:hover{
    color: #2693ff;
  }
  .attachment i{
    margin-top: 10px;
    font-size: 20px;
  }
  .attachment p{
    font-family: 'proxima';
    font-size: 12px;
    font-weight: 700;
  }
  .com{display: flex;
    width: 232px;margin: 0 auto;
    background-color: #e8edf1;  justify-content: space-between;
    height: 36px;border-radius: 50px;
  }
  .chat{padding: 5px;
    gap: 10px;
    width: 115px;border-radius: 50px;
    height: 28px;margin: auto 0;
    background-color: #ffffff;margin-left: 4px;
    display: flex;color: rgb(38, 147, 255);
  }
  
  .chat i{
  margin:auto 0
  }
  .chat p{
    font-size: 14px;font-weight: bold;
    font-family: 'proxima';margin:auto 0
  }
  .fasi{
    display: flex;margin-right: 20px;
    gap: 10px;color: #a1abb4;
  }
  .fasi i{
    margin: auto 0;
  }
  .fasi p{
    margin: auto 0;
    font-size: 14px;
    font-weight: bold;
    font-family: 'proxima';
  }
  .write{
    display: flex;gap:10px;
    margin-left: 50px;margin-top: 40px;
    margin-bottom: 200px;
  }
  .write i{
    font-size: 16px;
  margin: auto 0;
  color: rgb(188, 196, 204);
  }
  .write input{
    border: 1px solid #e1e6ea;
      border-radius: 3px;
      box-sizing: border-box;
  width: 419px;outline: none;
  height: 42px;
  }
  
  /*foot*/
  .foot{display: none;
    background: #f2f5f7;width: 554px;
      border-top: 1px solid #e1e6ea;
      height: 72px;padding-left: 50px;
      line-height: 24px;
      position: relative;margin-bottom: 0px;
      z-index: 2;display: flex;
  }
  .left-foot{
    display: flex;margin-right: 50px
  }
  .left-foot img{
    width: 30px;
    height: 30px;margin: auto 0;
    border-radius: 50%;
  }
  .left-foot p{
    font-size: 12px;
    font-weight: bold;
    font-family: 'proxima';
    margin: auto 10px;
  }
  .follow{
    width: 80px;padding-left: 5px;
    height: 26px;margin: auto 5px;
    transition: 200ms ease 0s, color 200ms ease 0s, opacity 200ms ease 0s, box-shadow 200ms ease 0s, border 200ms ease 0s;
    border-radius: 4px;
      border: 1px solid rgb(225, 230, 234);
      color: rgb(131, 140, 150);
      background-color: rgba(0, 0, 0, 0);
  }
  .left-foot i{
    margin: auto 0;
    font-size: 12px;
    color: rgb(131, 140, 150);
  }
  .left-foot p{
    color: rgb(131, 140, 150);
  }
  .unprocessed{
  
    width: 150px;display: flex;
    height: 26px;
    border: 1px solid #d4dbe1;
      border-radius: 4px;
      box-sizing: border-box;
      color: #838c96;
      font-size: 12px;
      font-weight: 700;
      transition: .15s,color .15s;
      margin: auto 40px;
  }
  .unprocessed p{
    font-size: 12px;
    margin: auto;
  }
  body{
    background-color: #ffffff;
    font-family: 'proxima', 'area';
    max-width: 100%;
    color: rgb(0, 0, 0);
    overflow-y: scroll;
    overflow-x: hidden;  
    -webkit-overflow-scrolling: touch;
  }
  }
  